html, body { height: 100%; }

body{
    background-image: linear-gradient( to left  , #0d3075, #E9E6DD, #C4AD9D, #2353AD) ;
    margin:0;
    display: flex;
    flex-wrap: wrap;
    padding-top: 8vh;
    box-sizing: border-box;
}
h1{
    color: rgb(0, 0, 0);
    margin: 0;

    font-size: clamp(18px, 3.5vw, 28px);
    font-family: merriweather, serif;
    font-weight: bolder;
    text-align: center;
}
p{
    color: #000000;
    margin: 0;
    font-size: clamp(12px, 2.5vw, 16px);
    font-weight: bold;
    font-family: merriweather, serif;
}
a{
    text-decoration: none;
}
.contact-link{
    text-decoration: none;
}
.contact-link:hover{
    font-family: merriweather, serif;
    color: #0d3075;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
    background-image: linear-gradient( to right   ,#000000, #112A57, #E9E6DD, #C4AD9D, #2353AD,#000000) ;
    z-index: 1000;
    padding: 0 2%;
    box-sizing: border-box;
}

.main-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;

    display: flex;
}

li{
    margin: 0 10px;

}

header{

    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    padding: 0;
    overflow: visible;
}

.me{
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
}

.hero{
    position: absolute;
    width: 70%;
    height: 84.5%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    background: rgba(55, 55, 55, 0.18);
}

.persoonsgegevens{
    padding: 2%;
    background: linear-gradient(to bottom, #aaaaaa, #E9E6DD) padding-box,
                linear-gradient(to bottom, #001B2C, #0274BD, #FFFFFF,#013557 ) border-box;
    border: 5px solid #000000;
    border-radius: 15px;
    position: fixed;
    right: 2%;
    bottom: 2%;
}
